.main{
	display: grid;
	grid-template-columns: 300px 1fr;
}

.main__aside--icon{
	color: #33B1FF;
	font-weight:bold;
}

.main__aside{
	list-style:none;
	margin: 0;
	padding:0;
}

.main__aside li{
	line-height: 1.25rem;
	padding:.5em;
	margin:1em 0;
}


.main__aside--link{
	text-decoration:none;
	color:#5F6376;
	font-weight:bold;
    display:block;
	font-family: 'Roboto', sans-serif;
    margin-left:1em;
    font-size: 15px;
}

.main__aside span{
	margin-left:1em;
	line-height: 1.25rem;
}

.main__article{
   margin: 0 auto;
   width:615px;
   position:relative;
   top:30px;
}

.main__article > div{
	margin: 1em 0;
}

.main__article--nota{
	border: 1px solid gray;
	color:#5F6368;
	font-weight:bold;
	width:600px;
	height:30px;
	text-align:left;
	margin-top: 2px;
	padding-top:1em;
	padding-left:.9em;
	border-radius: 8px;
	box-shadow: -5px 10px 14px -4px rgba(0,0,0,0.75);
	position:relative;
	bottom:17%;
}


.main__article--textbox{
	width:590px;
	height:30px;
	position:absolute;
	top:30%;
	left:10px;
	padding-top:12px;
	padding-left:.2em;
	outline:none;
}

.main__article--title{
	padding:1em;
	color:#5F6368;
	font-weight:bold;
	height:20px;
	position:relative;
}

.main__article--textboxTitle{
	width:600px;
	height:35px;
	top:20px;
	padding-top:10px;
	padding-left:.9em;
	position:absolute;
	outline:none;
}


.main__article--iconClose{
    color: gray;
    position:absolute;
    right:20px;
    cursor:pointer;
}

.main__article--iconAdd{
    color: gray;
    position:absolute;
    right:60px;
    cursor:pointer;
}


/*Helpers*/
.hide{
	visibility:hidden;
}

.editor{
	border-radius: 8px;
	box-shadow: -5px 10px 14px -4px rgba(0,0,0,0.75);
	border: 1px solid gray;
	padding:1em;
	height:180px;
}

.nota{
	position:relative;
	left:10px;
	padding-left:2px;
	padding-bottom:1em;
}










