	.template{
		display:grid;
		grid-template-columns:repeat(4,200px);
		justify-content:space-evenly;
		margin-top:50px;
	}

	.template > div{
		border:1px solid gray;
		padding:1em;
		width:200px;
		height:200px;
		text-align:center;
		margin: 10px;
		border-radius: 5px;
		word-wrap: break-word;
	}





